@font-face
 {
    font-family:'raleway';
    src: url('polices/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
}
.conteneurPageprincipale
{
    margin-left: 280px; 
    margin-right: 200px; 
}
header 
{
    margin-bottom: 40px;
    font-family: raleway;
    font-size: 15px; 
}
#logo
{
    width: 120px;
    font-family: raleway;
    font-size: 10px;
}
.elemenitem1
{
    font-family: raleway;
    font-size: 15px;
    font-weight: bold;
}
.elemenitem2
{
    width: 250px;
    height: 10px;
    font-family: raleway;
    font-size: 12px;
    margin-bottom: 20px;
}
nav
{
    display: flex; 
    justify-content: flex-end;
    flex-wrap: nowrap;
    margin-right: 110px;
}
nav ul
{
    display: flex;
    list-style-type: none;
    position: absolute;
    top: 10px;
}
nav li a
{
    margin: 10px;
    text-decoration: none;
}
.itemnav1, .itemnav3
{
    color: #0065FC;
}
.conflex
{
    display: flex;
    width: 260px;
    margin-bottom: 40px;
    background-color: #f2f2f2;
    border: 2px solid #F2F2F2;
    border-radius: 10px 10px;
}
input
{
    border: 1px solid #F2F2F2;
}
.itemform
{
    padding: 8px;
    margin-left: 10px;
    border-radius: 50% 50%;
}
.item0
{
    padding: 8px;
    margin-left: 2px;
    background: white;
    border-radius: 0px 0px 0px 0px;
}
.elemenflexsearch
{ 
    padding: 10px;
    color: white;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
}
.filtercontflexparent
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    font-family: raleway;
}
.item1
{
    width: 60px;
    height: 30px;
}
.item2
{
    padding: 12px;
    padding-left: 0;
    margin-left: 25px;
    border: 3px solid #F2F2F2;
    border-radius: 30px 30px;    
}
.item2 a:hover
{
    background-color: chartreuse;
}
.item2a
{
    width: 30px;
    padding: 12px;
    background: 30px;
    color: #0065FC;
    background-color: #bbdefb;
    border-radius: 50% 50% ;    
}
.item2b
{  
    padding-left: 10px;
}
.item3
{
    padding: 12px;
    padding-left: 0;
    margin-left: 25px;
    border: 3px solid #F2F2F2;
    border-radius: 30px 30px;    
}
.item3 a:hover
{
    background-color: springgreen;
}
.item3a
{
    width: 30px;
    padding: 12px;
    background: 30px;
    color: #0065FC;
    background-color: #bbdefb;
    border-radius: 50% 50% ;    
}
.item3b
{
    padding-left: 10px; 
}
.item4
{
    padding: 12px;
    padding-left: 0;
    margin-left: 25px;
    border: 3px solid #F2F2F2;
    border-radius: 30px 30px;    
}
.item4 a:hover
{
    background-color: turquoise;
}
.item4a
{
    width: 30px;
    padding: 12px;
    background: 30px;
    color: #0065FC;
    background-color: #bbdefb;
    border-radius: 50% 50% ;   
}   
.item4b
{
    padding-left: 10px;
}
.item5
{
    padding: 12px;
    padding-left: 0;
    margin-left: 25px;
    border: 3px solid #F2F2F2;
    border-radius: 30px 30px;    
}
.item5 a:hover
{
    background-color: yellowgreen;
}
.item5a
{
    width: 30px;
    padding: 12px;
    background: 30px;
    color: #0065FC;
    background-color: #bbdefb;
    border-radius: 50% 50% ;   
}
.item5b
{
    padding-left: 10px;
}
.item2, .item3, .item4, .item5, a
{
    text-decoration: none;
}
.elemenitem5
{
    display: flex;
    font-family: raleway;
    margin-top: 50px;
}
.inteminfo
{ 
    width: 30px;
    padding: 12px;
    background: 30px;
    color: #0065FC;
    border-radius: 50% 50% ;    
}
.itemk
{
    margin-left: 10px;
}
.hebergconteneur
{
    display: flex;
    margin-bottom: 40px; 
}
.conteneurflexible1Parent
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 635px;
  height: 440px;
  background-color:#f2f2f2;  
  border-radius: 15px 15px 15px 15px; 
}
.elementflex0 
{
    margin-left: 20px;
    width: 600px;
    font-family: raleway;
    font-size: 14px;
}
.elementflex1
{
    width: 175px;
    height: 128px;
    margin: 4px;
    padding: 4px;
    text-align: left;
    margin-left: 22px;
    margin-bottom: 25px;
    font-family: raleway;
    font-size: 10px;
    background:178px;
    background-color: white;
    border-radius: 15px 15px 15px 15px; 
}
.elementflex1 img
{
    width: 174px;
    height: 75px;
    border-radius: 15px 15px 0px 0px; 
}
.elementflex2
{
    width: 175px;
    height: 128px;
    margin: 4px;
    padding: 4px;
    text-align: left;
    margin-left: 22px;
    margin-bottom: 25px;
    font-family: raleway;
    font-size: 10px;
    background:178px;
    background-color: white;
    border-radius: 15px 15px 15px 15px; 
}
.elementflex2 img
{
    width: 174px;
    height: 75px;
    border-radius: 15px 15px 0px 0px; 
}
.elementflex3
{
    width: 175px;
    height: 128px;
    margin: 4px;
    padding: 4px;
    text-align: left;
    margin-left: 22px;
    margin-bottom: 25px;
    font-family: raleway;
    font-size: 10px;
    background:178px;
    background-color: white;
    border-radius: 15px 15px 15px 15px; 
}
.elementflex3 img
{
    width: 174px;
    height: 75px;
    border-radius: 15px 15px 0px 0px; 
}
.elementflex4
{
    width: 175px;
    height: 128px;
    margin: 4px;
    padding: 4px;
    text-align: left;
    margin-left: 22px;
    margin-bottom: 25px;
    font-family: raleway;
    font-size: 10px;
    background:178px;
    background-color: white;
    border-radius: 15px 15px 15px 15px; 
}
.elementflex4 img
{
    width: 174px;
    height: 75px;
    border-radius: 15px 15px 0px 0px; 
}
.elementflex5
{
    width: 175px;
    height: 128px;
    margin: 4px;
    padding: 4px;
    text-align: left;
    margin-left: 22px;
    margin-bottom: 25px;
    font-family: raleway;
    font-size: 10px;
    background:178px;
    background-color: white;
    border-radius: 15px 15px 15px 15px; 
}
.elementflex5 img
{
    width: 174px;
    height: 75px;
    border-radius: 15px 15px 0px 0px; 
}
.elementflex6
{
    width: 175px;
    height: 128px;
    margin: 4px;
    padding: 4px;
    text-align: left;
    margin-left: 22px;
    margin-bottom: 25px;
    font-family: raleway;
    font-size: 10px;
    background:178px;
    background-color: white;
    border-radius: 15px 15px 15px 15px; 
}
.elementflex6 img
{
    width: 174px;
    height: 75px;
    border-radius: 15px 15px 0px 0px; 
}
.itemplus
{
    margin-left: 25px;
}
.conteneurflexible2Parent
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 260px;
  height: 440px;
  margin-left: 20px;
  background-color:#f2f2f2; 
  border-radius: 15px 15px 15px 15px; 
}
.elementflex10
{
    display: flex;
    justify-content: space-around;
    width: 212px;
    height: 84px;
    margin: 8px;
    padding: 4px;
    font-family: raleway;
    font-size: 10px;
    margin-left: 5px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
}
.elementflex10 img
{
    width: 84px;
    height: 84px;
    padding: 0px;
    margin: 0px;
    margin-right: 10px;
    border-radius: 15px 0px 0px 15px; 
}
.item40
{
    width: 105px;
    height: 40px;
    margin-right: 20px;
    text-align: left;
}
.item40a
{
    display: flex;
    width: 60px;
    height: 15px;
}
.item40b
{
    width: 13px;
    height: 12px;
    color: #0065FC;
}
.elementflex11
{
    display: flex;
    justify-content: space-around;
    width: 212px;
    height: 84px;
    margin: 8px;
    padding: 4px;
    font-family: raleway;
    font-size: 10px;
    margin-left: 5px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 15px 15px 15px 15px 
}
.elementflex11 img
{
    width: 84px;
    height: 84px;
    padding: 0px;
    margin: 0px;
    margin-right: 10px;
    border-radius: 15px 0px 0px 15px; 
} 
.item50
{
    width: 105px;
    height: 40px;
    margin-right: 20px;
    text-align: left;
}
.elementflex12
{
    display: flex;
    justify-content: space-around;
    width: 212px;
    height: 84px;
    margin: 8px;
    padding: 4px;
    font-family: raleway;
    font-size: 10px;
    margin-left: 5px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 15px 15px 15px 15px 
}
.elementflex12 img
{
    width: 84px;
    height: 84px;
    padding: 0px;
    margin: 0px;
    margin-right: 10px;
    border-radius: 15px 0px 0px 15px; 
} 
.item60
{
    width: 105px;
    height: 40px;
    margin-right: 20px;
    text-align: left;
}
.elementflex00
{
    width: 210px;
    height: 25px;
    margin-left: 12px;
    font-family: raleway;
    font-size: 14px;
}
h4
{
    margin-left: 10px;
}
.conteneurflex3parent
{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 900px;
    background: 900px;
    background-color: white;
}
.elementflex13
{
    width: 900px;
    margin-bottom: 10px;
    margin-left: 25px;
    font-family: raleway;
    font-size: 14px;

}
.elementflex14
{
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 270px;
    text-align: left;
    font-family: raleway;
    font-size: 13px;
    background: 215px;
    background-color: #F2F2F2;
    border-radius: 15px 15px 15px 15px;
}
.elementflex14 img 
{
    width: 210px;
    height: 232px ;
    background: 210px;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
}
.elementflex16
{
    width: 210px;
    height: 165px;
    margin-bottom: 24px;
    text-align: left;
    font-family: raleway;
    font-size: 13px;
    background: 215px;
    background-color: #F2F2F2;
    border-radius: 15px 15px 15px 15px; 
}
.elementflex16 img
{
    width: 210px;
    height: 120px;
    border-radius: 15px 15px 0px 0px;
}
.elementflex17 
{
    width: 210px;
    height: 80px;
    text-align: left;
    font-family: raleway;
    font-size: 13px;
    background: 215px;
    background-color: #F2F2F2;
    border-radius: 15px 15px 15px 15px; 
}
.elementflex17 img
{
    width: 210px;
    height: 40px;
    border-radius: 15px 15px 0px 0px;
}
.elementflex18
{
    width: 210px;
    height: 270px;
    text-align: left;
    font-family: raleway;
    font-size: 13px;
    background-color: #F2F2F2;
    border-radius: 15px 15px 15px 15px; 
}
.elementflex18 img
{
    width: 210px;
    height: 232px;
    background: 210px;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
}
.elementflex20
{
    width: 210px;
    height: 120px;
    margin-bottom: 15px;
    text-align: left;
    font-family: raleway;
    font-size: 13px;
    background: 215px;
    background-color: #F2F2F2;
    border-radius: 15px 15px 15px 15px; 
}
.elementflex20 img
{
    width: 210px;
    height: 80px;
    border-radius: 15px 15px 0px 0px;
}
.elementflex21
{
    width: 210px;
    height: 134px;
    text-align: left;
    font-family: raleway;
    font-size: 13px;
    background: 215px;
    background-color: #F2F2F2;
    border-radius: 15px 15px 15px 15px; 
}
.elementflex21 img
{
    width: 210px;
    height: 96px;
    border-radius: 15px 15px 0px 0px;
}

footer 
{
display: flex;
margin-top: 50px;
width: 900px;
font-family: raleway;
font-size: 14px;
background-color: #F2F2F2;
}
.item20, .item22, .item24, h5
{
    list-style-type: none;
}
.item20, .item22, .item24, ul
{
    margin: 25px;
}
.item20, .item22, .item24, a
{
    color: black;
}