@font-face
 {
    font-family:'raleway';
    src: url('polices/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
}
.blocpage
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
}
header 
{
    margin-bottom: 30px;
    font-family: raleway;
    margin-left: 20px;
    font-size: 14px; 
}
.contnav
{
    display: flex;
    margin: 0;
    margin-bottom: 16px;
}
.itemlogo
{
    width: 48%;
}
#logo
{
    width: 122px;
    font-family: raleway;
    margin-bottom: 30px;
}
.elemenitem1
{
    font-family: raleway;
    font-size: 15px;
    font-weight: bold;
}
.elemenitem2
{
    height: 10px;
    font-family: raleway;
    font-size: 12px;
    margin-bottom: 15px;
}
.blocnav
{
    margin-left: 230px;
}
nav ul
{
    display: flex;
}
nav li
{
    padding: 10px;
}
nav ul li
{                                /* l'element ul est decale à droite*/          
    list-style-type: none;
}
nav li a
{
    text-decoration: none;
}
.itemnav1
{
    padding: 25px;
    border-top: 2px solid #0065FC;
}
.itemnav2
{
    margin-left: 7px;
}
.itemnav3
{
    margin-left: 7px;
}
.itemnav1, .itemnav3
{
   
    color: #0065FC;
}
form
{
    display: flex;
    flex-direction: row;
    width: 20%;
    margin-bottom: 40px;
    background-color: #f2f2f2;
    border-radius: 10px 10px;
}
input
{
    padding: 0;
    border: 1px solid #F2F2F2;
}
.itemcon
{
    padding: 18px;
    margin-left: 10px;
    border-radius: 50% 50%;
}
.item0
{
    padding: 8px;
    margin-left: 2px;
    font-family: raleway;
    background: white;
    border-radius: 0px 0px 0px 0px;
}
.elemenflexsearch
{ 
    padding: 15px;
    color: white;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
}
.filtercontflexparent
{
    display: flex;
    font-family: raleway;
}
.item1
{
    margin: 4px;
}
.item1a                              
{
    width: 40px;
    padding: 4px;        
}
.item2 :hover
{
    margin: 4px;
    background-color: yellowgreen;
}
.item2a
{
    width: 140px;
    padding: 12px;
    border: 3px solid #F2F2F2;
    border-radius: 30px 30px;   
}
.item2a 
{
    padding-left: 0;
}
.item2b 
{
    padding: 12px;
    color: #0065FC;
    background-color: #bbdefb;
    border-radius: 50% 50% ;    
}
.item2c a
{  
    padding-left: 10px;
}
.item3 :hover
{
    margin: 4px;
    background-color: springgreen;
}
.item3a
{
    width: 100px;
    padding: 12px;
    border: 3px solid #F2F2F2;
    border-radius: 30px 30px;    
}
.item3a 
{
    padding-left: 0;
}
.item3b
{
    padding: 12px;
    color: #0065FC;
    background-color: #bbdefb;
    border-radius: 50% 50% ;    
}
.item3c
{
    padding-left: 10px; 
}
.item4 :hover
{
    margin: 4px;
    background-color: chartreuse;
}
.item4a
{
    width: 140px;
    padding: 12px;
    border: 3px solid #F2F2F2;
    border-radius: 30px 30px;    
}
.item4a 
{
    padding-left: 0;
}
.item4b
{
    padding: 12px;
    color: #0065FC;
    background-color: #bbdefb;
    border-radius: 50% 50% ;   
}   
.item4c
{
    padding-left: 10px;
}
.item5 :hover
{
    margin: 4px;
    background-color: green;
}
.item5a
{
    width: 180px;
    padding: 12px;
    border: 3px solid #F2F2F2;
    border-radius: 30px 30px;   
}
.item5a
{
    padding-left: 0;
}
.item5b
{
    padding: 12px;
    color: #0065FC;
    background-color: #bbdefb;
    border-radius: 50% 50% ;   
}
.item5c
{
    padding-left: 10px;
}
.item2a, .item3a, .item4a, .item5a, a
{
    text-decoration: none;
}
.item6
{
    display: flex;
    flex-direction: row;
    font-family: raleway;
    margin-top: 50px;
}
.intem6a
{ 
    padding: 16px;
    background-color: white;   
}
.item6b
{
    margin-left: 10px;
}
section
{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-left: 20px;
}
article
{
    width: 640px;
    padding: 12px;
    background-color:#f2f2f2;  
    border-radius: 15px 15px 15px 15px; 
}
.itemeb
{
    font-family: raleway;
    margin-left: 20px;
}
.conteneurflexible1Parent
{
    display: flex;
    flex-wrap: wrap;
}
.elementflex1
{
    width: 175px;
    height: 140px;
    margin: 4px;
    padding: 4px;
    text-align: left;
    margin-bottom: 25px;
    font-family: raleway;
    font-size: 10px;
    background-color: white;
    border-radius: 15px 15px 15px 15px; 
}
.item10 img
{
    width: 174px;
    height: 75px;
    border-radius: 15px 15px 0px 0px; 
}
.item10a
{
    text-align: left;
}
.item10b
{
    color: #0065FC;
}
.item10c
{
    color: #f2f2f2;
}
.elementflex2
{
    width: 175px;
    height: 140px;
    margin: 4px;
    padding: 4px;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 25px;
    font-family: raleway;
    font-size: 10px;
    background-color: white;
    border-radius: 15px 15px 15px 15px; 
}
.item15 img
{
    width: 174px;
    height: 75px;
    border-radius: 15px 15px 0px 0px; 
}
.item15a
{
    text-align: left;
}
.item15b
{
    color: #0065FC;
}
.elementflex3
{
    width: 175px;
    height: 140px;
    margin: 4px;
    padding: 4px;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 25px;
    font-family: raleway;
    font-size: 10px;
    background-color: white;
    border-radius: 15px 15px 15px 15px; 
}
.item20 img
{
    width: 174px;
    height: 75px;
    border-radius: 15px 15px 0px 0px; 
}
.item20a
{
    text-align: left;
}
.item20b
{
    color: #0065FC;
}
.item20c
{
    color: #f2f2f2;
}
.elementflex4
{
    width: 175px;
    height: 140px;
    margin: 4px;
    padding: 4px;
    text-align: left;
    margin-bottom: 25px;
    font-family: raleway;
    font-size: 10px;
    background-color: white;
    border-radius: 15px 15px 15px 15px; 
}
.item25 img
{
    width: 174px;
    height: 75px;
    border-radius: 15px 15px 0px 0px; 
}
.item25a
{
    text-align: lef;
}
.item25b
{
    color: #0065FC;
}
.item25c
{
    color: #f2f2f2;
}
.elementflex5
{
    width: 175px;
    height: 140px;
    margin: 4px;
    padding: 4px;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 25px;
    font-family: raleway;
    font-size: 10px;
    background-color: white;
    border-radius: 15px 15px 15px 15px; 
}
.item30 img
{
    width: 174px;
    height: 75px;
    border-radius: 15px 15px 0px 0px; 
}
.item30a
{
    text-align: left;
}
.item30b
{
    color: #0065FC;
}
.item30c
{
    color: #f2f2f2;
}
.elementflex6
{
    width: 175px;
    height: 140px;
    margin: 4px;
    padding: 4px;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 25px;
    font-family: raleway;
    font-size: 10px;
    background-color: white;
    border-radius: 15px 15px 15px 15px; 
}
.item35 img
{
    width: 174px;
    height: 75px;
    border-radius: 15px 15px 0px 0px; 
}
.item35a
{
    text-align: left;
}
.item35b
{
    color: #0065FC;
}
.itemplus
{
    margin-left: 5px;
}
aside
{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 260px; 
    margin-left: 24px; 
    padding: 8px;
    background-color:#f2f2f2; 
    border-radius: 15px 15px 15px 15px;
}
.itempop
{
    margin-left: 20px;
    background-color: thistle;
}
.conteneurflexible2Parent
{
    margin-left: 4px;
    padding: 4px;
}
.item7
{
    display: flex;
    margin-top: 20px;
}
.item7a
{
    font-family: raleway;
    margin-bottom: 35px;
}
.item7b
{
    margin-left: 75px;
}
.elementflex10
{
    display: flex;
    width: 230px;
    height: 84px;
    padding: 4px;
    margin-bottom: 25px;
    font-family: raleway;
    font-size: 10px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
}
.item40 img
{
    width: 90px;
    height: 84px;
    padding: 0px;
    margin: 0px;
    border-radius: 15px 0px 0px 15px; 
}
.item40a
{
    margin-left: 10px;
    text-align: left;
}
.item40b
{
    color: #0065FC;
}
.elementflex11
{
    display: flex;
    width: 230px;
    height: 84px;
    padding: 4px;
    margin-bottom: 25px;
    font-family: raleway;
    font-size: 10px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
}
.item50 img
{
    width: 90px;
    height: 84px;
    padding: 0px;
    margin: 0px;
    border-radius: 15px 0px 0px 15px;  
   
} 
.item50a
{
    margin-left: 10px;
    text-align: left;
}
.item50b
{
    color: #0065FC;
}
.item50c
{
    color: #f2f2f2;
}
.elementflex12
{
    display: flex;
    width: 230px;
    height: 84px;
    padding: 4px;
    margin-bottom: 25px;
    font-family: raleway;
    font-size: 10px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
}
.item60 img
{
    width: 90px;
    height: 84px;
    padding: 0px;
    margin: 0px;
    border-radius: 15px 0px 0px 15px;  
} 
.item60a
{
    margin-left: 10px;
    text-align: left;
}
.item60b
{
    color: #0065FC;
}
.item60c
{
    color: #f2f2f2;
}
.conteneurflex3parent
{
    display: flex;
    background-color:white ;

}
.item100
{ 
    display: flex;
    flex-direction: column;
}
.item150
{
    display: flex;
    flex-direction: column;
}
.elementflex14
{
    width: 220px;
    height: 300px;
    font-family: raleway;
    font-size: 13px;
    background-color: #F2F2F2;
    border-radius: 15px 15px 15px 15px;
}
.item80 img
{
    width: 220px;
    height: 258px;
    border-radius: 15px 15px 0px 0px;
}
.item80a
{
    margin-left: 25px;
    margin-top: 10px;
}
.elementflex16
{
    width: 200px;
    height: 155px;
    margin-left: 28px;
    margin-bottom: 35px;
    font-family: raleway;
    font-size: 13px;
    background-color: #F2F2F2;
    border-radius: 15px 15px 15px 15px; 
}
.elementflex16 img
{
    width: 200px;
    height: 120px;
    border-radius: 15px 15px 0px 0px;
}
.item81
{
    margin-left: 10px;
    margin-top: 5px;
}
.elementflex17 
{
    width: 200px;
    height: 110px;
    margin-left: 28px;
    font-family: raleway;
    font-size: 13px;
    background-color: #F2F2F2;
    border-radius: 15px 15px 15px 15px; 
}
.elementflex17 img
{
    width: 200px;
    height: 80px;
    border-radius: 15px 15px 0px 0px;
}
.item82
{
    margin-left: 10px;
}
.elementflex18
{

    width: 220px;
    height: 298px;
    margin-left: 28px;
    font-family: raleway;
    font-size: 13px;
    background-color: #F2F2F2;
     border-radius: 15px 15px 15px 15px; 
}
.elementflex18 img
{
    width: 220px;
    height: 260px;
    background: 210px;
    border-radius: 15px 15px 0px 0px;
}
.item83
{
    margin-left: 20px;
    margin-top: 8px;
}
.elementflex20
{
    width: 230px;
    height: 120px;
    margin-left: 32px;
    margin-bottom: 35px;
    font-family: raleway;
    font-size: 13px;
    background-color: #F2F2F2;
    border-radius: 15px 15px 15px 15px; 
}
.elementflex20 img
{
    width: 230px;
    height: 80px;
    margin-bottom: 15px;
    border-radius: 15px 15px 0px 0px;
}
.item84
{
    margin-left: 20px;
}
.elementflex21
{
    width: 230px;
    height: 140px;
    margin-left: 32px;
    font-family: raleway;
    font-size: 13px;
    background-color: #F2F2F2;
    border-radius: 15px 15px 15px 15px; 
}
.elementflex21 img
{
    width: 230px;
    height: 96px;
    border-radius: 15px 15px 0px 0px;
}
.item85
{
    margin-left: 20px;
    margin-top: 10px;
}
footer 
{
    display: flex;
    width: 68%;
    background-color: #F2F2F2;
}
.contfoot
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 14px;
    background-color: #F2F2F2;
}
.item20, .item22, .item24, h5, a
{
    list-style-type: none;
    color: black;
    font-family: raleway;
    font-size: 12px;
}
.bloc5
{
    margin: 1px;
}
.bloc6
{
    margin-left: 55px;
}
.bloc7
{
    margin-left: 55px;
}